@page "/streams"
@inject EvenireDB.Client.IStreamsClient streamsClient

<PageTitle>Streams</PageTitle>

<h1>Streams</h1>

@if(_status == OperationStatus.Processing)
{
    <Loading></Loading>
}
else if(_status == OperationStatus.Success && _streams != null)
{
    <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Events #</th>
            <th scope="col">Is Cached</th>
            <th scope="col">Created on</th>
            <th scope="col">Last updated on</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stream in _streams)
            {
                <tr>
                    <th scope="row">
                        <a href='/streams/@stream.StreamId' title='@stream.StreamId'>@stream.StreamId</a>
                    </th>
                    <td>@stream.EventsCount</td>
                    <td>@stream.IsCached</td>
                    <td>@stream.CreatedAt</td>
                    <td>@stream.LastAccessedAt</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (_status == OperationStatus.Failure)
{
    <CloseableAlert Type="CloseableAlert.AlertTypes.Danger"></CloseableAlert>
}

@code {
    private IEnumerable<StreamInfo>? _streams;
    private OperationStatus _status = OperationStatus.None;

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        _streams = null;
        _status = OperationStatus.Processing;

        try
        {
            _streams = await streamsClient.GetStreamInfosAsync();
            _status = OperationStatus.Success;
        }
        catch
        {
            _status = OperationStatus.Failure;
        }
    }
}