@page "/"
@inject EvenireDB.Client.IStreamsClient streamsClient

<PageTitle>Streams</PageTitle>

<h1>Streams</h1>

@if (_streams is null)
{
    <Loading></Loading>
}
else
{
    <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Events #</th>
            <th scope="col">Is Cached</th>
            <th scope="col">Created on</th>
            <th scope="col">Last updated on</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var stream in _streams)
            {
                <tr>
                    <th scope="row">
                        <a href='/streams/@stream.StreamId' title='@stream.StreamId'>@stream.StreamId</a>
                    </th>
                    <td>@stream.EventsCount</td>
                    <td>@stream.IsCached</td>
                    <td>@stream.CreatedAt</td>
                    <td>@stream.LastAccessedAt</td>
                </tr>
            }
        </tbody>
    </table>
}

@if (_isFailed)
{
    <ErrorAlert></ErrorAlert>
}

@code {
    private IEnumerable<StreamInfo>? _streams;
    private bool _isFailed = false;

    protected override async Task OnInitializedAsync()
    {
        await RefreshData();
    }

    private async Task RefreshData()
    {
        _isFailed = false;
        try
        {
            _streams = await streamsClient.GetStreamInfosAsync();
        }
        catch
        {
            _isFailed = true;
            _streams = Array.Empty<StreamInfo>();
        }
    }
}